@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li class="has-children">
                        <a href="~/container/Profilee">Profile</a>
                        <ul class="dropdown">
                            <li><a href="#">@Html.ActionLink( User.Identity.GetUserName() + "!", "Profilee", "container", routeValues: null, htmlAttributes: new { title = "Manage" })</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>
        
    }
}
else
{
<div class="main-nav d-none d-lg-block">
    <nav class="site-navigation text-right text-md-center" role="navigation">
        <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="has-children">
                <a href="@Url.Action("Login","Account")">Profile</a>
                <ul class="dropdown">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
}
